/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-container{
    
}

.header-top{
    display: flex;
    justify-content: space-between;
    background: #242424;  
}

.header-top-container{
    margin: 0 auto;
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #4FC8A0;
    margin: 0;
    padding: 0;
}

.first-box{
    display: flex;
    justify-content: space-between;
}

.search-flex{
    display: flex;
}

.search-flex i{
    padding: 15px;
    padding-left: 60px;
    padding-right: 30px;
}

.search-icon{
    font-size: 20px;
    width: 100px;
}

.login{
    padding: auto;
    text-decoration: none; 
    color: white;
    border-left: solid white 2px;
    border-right: solid white 2px;
    border-color: rgba(50, 50, 50, 0.5);
    padding: 12px;
}

.bottom-header{
    display: flex;
    background: white;
}

.bottom-header-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}

.nav{
    display: flex;
}

.nav-item:last-child{
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.nav-item{
    padding: 20px 25px;
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.remember{
    display: flex
}

.remember-item{
    display: flex;
    border-left: solid 1px;
}

.remember-item:last-child{
    border-right: solid 1px;
}

.remember-icon{
    margin: 20px 10px;
    margin-left: 25px;
    font-size: 20px;
}

.notifications-favorite{
    margin: 20px 0px;
    margin-right: 25px;
    background: #BCBCBC;
    display: inline-block;
    padding: 2px 5px;
    border: solid 1px #BCBCBC;
    border-radius: 15%;

}

.notifications-cart{
    background: #4FC8A0;
    margin: 20px 0px;
    margin-right: 25px;
    display: inline-block;
    padding: 2px 10px;
    border: solid 1px #4FC8A0;
    border-radius: 15%
}

.picture{
    background-image: url(../img/top.png);
    background-repeat: no-repeat;
    background-size: cover;  
}

.picture-container{
    margin: 0 auto;
    width: 70%;
}

.picture-text-placer{
    padding: 75px;
    width: 40%;
    padding-left: 60%
}

.price-tag{
    display: inline-block;
    padding: 35px 20px;
    background: #4FC8A0;  
    color: #FFFFFF;
}

h2{
    font-size: 50px;
    margin: 0;
}

.picture-text{
    font-size: 25px;
}

.icon-container{
    display: flex;
    font-size: 20px;
}

.picture-icon{
    background: white;
    padding: 10px 15px;
    margin-right: 3px;
    color:  
}

.selection-menu{
    background: #2E2E2E;
}

.selection-menu-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.selection-menu-item{
    color: #FFFFFF;
    width: 20%;
    margin-top: 10px; 
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    border-top: solid 10px #000000;
}

.selection-menu-item:first-child{
    border-top: solid 10px #4FC8A0;
}

.selection-menu-item:hover{
    border-top: solid 10px #4FC8A0;
}

.offers{
    background: #222222
}

.offers-container{
    margin: 0 auto;
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    text-align: center;
}

.offers-container div{
    width: 27%;
    height: 180px;
    margin: 20px 10px;
    margin-top: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
}

.on-sale{
    background-image: url(../img/shoe1.jpg);
}

.special-offer{
    background-image: url(../img/shoe2.jpg);
}

.must-have{
    background-image: url(../img/shoe3.jpg);
}

.offer-text{
    font-size: 25px;
    margin-top: 60px;
    padding: 20px 15px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
}

.shoe{
    background: #EBE7DC;
}

.shoe-container{
    margin: 0 auto;
    width: 70%;
}

.shoe-top{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.shoe-top button{
    background: transparent;
    padding: 5px 25px;
    border: solid 1px #BFBBAF;
    color: #BFBBAF;
}

h4{
    font-size: 25px;
}

.shoe-flex{
    display: flex;
    justify-content: space-between;
   
}

.shoe-flex-item{
    background: #FFFFFF;
    margin: 10px;
    padding-bottom: 0;
    width: 32%;
}

.shoe-item-bottom{
    display: flex;
}

.price-tag-shoe{
    display: inline-block;
    margin-top: -50px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 35px 20px;
    background: #4FC8A0;  
    color: #FFFFFF;
}

.shoe-icons{
    display: flex;
}

.shoe-icons i:hover{
    color: #4FC8A0;
}

.shoe-item-bottom p{
    padding: auto 0;
    font-weight: bold;
}

.information{
    display: flex;
    flex-wrap: nowrap;
}

.information div{
    background: #DFDAD4;
    margin: 10px 10px;
}

.info-small{
    width: 25%;
    padding: 0px 20px;
}

.name{
    font-style: italic;
}

.info-big{
    width: 50%;     
}

.info-container{
    padding-top: 30px;
    padding-left: 20px;
}

h5{
    font-size: 15px;
    padding-top: 30px;
    margin-bottom: 20px;    
}

.info-flex{
    display: flex;
}

.date{
    height: 40px;
    width: 50px;
    background: #4FC8A0;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.date-info{
    margin: 0;
    padding: 0;
}

.blog-name{

}

footer{
    
    color: #7D7D7D;
}


.footer-top{
   background: #242424; 
}

.footer-top-content{
    margin: 0 auto;
    width: 65%;
}

.widgets{
    display: flex;
}

.widget-item{
    width: 30%;
    margin: 15px;
}

.widget-item p{
    padding-bottom: 15px;
}

.at{
    color: #4FC8A0; 
}


.widget-grid{
    display: grid;
    grid-template-areas: 
    ". . ." 
    ". . .";
    grid-gap: 5px;
}


.footer-mid{
    background: #242424;
}

.footer-mid-content{
    margin: 50px auto;
    margin-bottom: 0px;
    padding-bottom: 50px;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.email{
    display: flex;
}

.email-box{
    background: #2E2E2E;
    border: none;
    width: 250px;
    height: 50px;
    padding-left: 15px;
    color: #7D7D7D;
}

.email-button{
    background:#7D7D7D;
    border: none;
    height: 50px;
    width: 40px;
}

.icon-flex{
    font-size: 20px;
    display:flex;
    padding: 10px;
    width: 25%;
}

.icon-flex i{
    background: #2E2E2E;
    margin: 0 5px;
    text-align: center;
    padding-top: 10px;
    width: 20%;
    height: 30px;
 }

.footer-bottom{
    background:#2E2E2E;   
}

.footer-bottom-content{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-content div{
    padding-top: 25px;
    padding-bottom: 25px;
}

hr{
    height: 1px;
    color: #000000;
    background-color: #000000;
    border: none;
}

.hr-widgets{
    height: 0.5px;
    color: #000000;
    background-color: #000000;
    border: none;
}























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
